global
    log stdout format raw local0
    maxconn 256

defaults
    log global
    mode http
    option httplog
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend docker_read
    bind :2375
    acl read_method method GET
    acl ping_path path -i /_ping
    acl version_path path -i /version
    acl info_path path_reg -i ^/v[0-9]+\.[0-9]+/info$
    acl containers_path path_reg -i ^/v[0-9]+\.[0-9]+/containers/json$
    acl container_path path_reg -i ^/v[0-9]+\.[0-9]+/containers/[^/]+/(json|logs|archive)$
    acl image_path path_reg -i ^/v[0-9]+\.[0-9]+/images/[^/]+/json$
    http-request deny deny_status 403 unless read_method
    http-request deny deny_status 403 unless ping_path or version_path or info_path or containers_path or container_path or image_path
    default_backend docker_socket

frontend docker_network_connect
    bind :2376
    acl connect_method method POST
    acl connect_path path_reg -i ^/v[0-9]+\.[0-9]+/networks/proxy_net/connect$
    http-request deny deny_status 403 unless connect_method connect_path
    default_backend docker_socket

backend docker_socket
    server dockersocket /var/run/docker.sock
